apiVersion: v1
data:
  GF_SECURITY_ADMIN_PASSWORD: admin
  GF_SECURITY_ADMIN_USER: admin
  SENSOR_ID: YOUR_ID
  SENSOR_SECRET_TOKEN: YOUR_TOKEN
kind: ConfigMap
metadata:
  labels:
    io.ast.service: grafana-env
  name: env
