{
    "NOTE": "THIS IS A CONFIGURATION TEMPLATE, PLEASE SET YOUR BIGIP CONFIG DATA AS ENV VARS REFERENCED BELOW",
    "devices": [
        {% for device in devices %}
        {
            "name": "bigip/{{ loop.index }}",
            "collection_interval": {{ device.collection_interval | default(60)}},
            "endpoint": "{{ device.endpoint }}",
            "username": "{{ device.username }}",
            "password_env_ref": "{{ device.password_env_ref }}",
            "tls_insecure_skip_verify": "{{ device.tls_insecure_skip_verify | default(false) }}",
            "ca_file": "{{ device.ca_file }}"
        }{% if not loop.last %},{% endif %}
        {% endfor %}
    ]
}
